.result-page {
  position: fixed;
  inset: 0; 

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  height: 100vh;
  width: 100vw;

  background-color: var(--color-bg);
}

.result-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  overflow: visible;
}

.result-message,
.result-score {
  position: relative;
  z-index: 1;
}

.result-message {
  font-size: 2.2rem;
  font-weight: 800;
  color: var(--color-text);
}

.result-score {
  font-size: 5rem;
  font-weight: 900;
  color: var(--color-primary);
  margin: 15% 0;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px
}

.btn-container p {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-bg);
}

/* === 버튼 기본 스타일 === */
.play-btn {
  z-index: 1;
  width: 160px;
  height: 80px;
  border: none;
  border-radius: 20px;
  background-color: var(--color-primary);
  cursor: pointer;
  position: relative;
  box-shadow:
    6px 6px 12px rgba(0, 0, 0, 0.25), /* 바닥 그림자 */
    -6px -6px 12px rgba(255, 255, 255, 0.4); /* 윗면 빛 반사 */
  transition: all 0.2s ease;
}